<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsOnDeck</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleLogin.css')}}">
    <link href="{{url_for('static', filename='img')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/img/logo2.jpeg') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='css/img/pexels-arthouse-studio-7686619.mp4') }}" type="video/mp4">
    </video>
    <div class="container-fluid">
            <div class="container">
                <nav class="navbar navbar-expand-lg d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
                    <h2 class="d-flex align-items-center col-lg-3 col-sm-4 col-md-3 mb-2 mb-md-0">DevOnDeck  <i class="bi bi-braces-asterisk"></i></h2>
                    <ul class="nav col-lg-6 col-sm-4 col-md-6 mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">Services</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                        <li><a href="/dev_register" class="nav-link px-2 link-dark">Dev Sign Up</a></li>
                        <li><a href="/org_register" class="nav-link px-2 link-dark">Org Sign Up</a></li>
                    </ul>
                    <div class="col-lg-3 col-sm-4 col-md-3 d-flex justify-content-center">
                        <a href="#" class="px-2 btn btn-primary login">Login</a>
                    </div>
                </nav>
            </div>
        </div>
    <div class="container">
        <form class="form-horizontal m-auto col-sm-8 col-lg-5 col-md-8 mt-5 bg-dark p-5 text-white bg-opacity-75 shadow-lg rounded" action="/login_org" method="post">
            <h2 class="text-center">Welcome Back! <i class="bi bi-buildings"></i></i></h2>
            <h5 class="text-center">Let`s Find You Some Candidates!</i></h5>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                {% with messages = get_flashed_messages(category_filter=["emailOrgLogin"]) %}
                        {% if messages %}
                            {% for msg in messages %}
                                <small class="form-text text-danger">{{msg}}</small>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-12">          
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                </div>
                {% with messages = get_flashed_messages(category_filter=["pswOrgLogin"]) %}
                        {% if messages %}
                            {% for msg in messages %}
                                <small class="form-text text-danger">{{msg}}</small>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
            <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-12 mt-4">
                    <button type="submit" class="btn btn-success col-sm-12">Login</button>
                    <p class="text-center mt-2">
                        <a href="/dev_login" class="link">Need to Login as a Developer?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center" style="position: fixed; bottom: 50px;">
        <h4 class="m-2 bg-light p-3 rounded-circle"><i class="bi bi-instagram text-danger"></i></h4>
        <h4 class="m-2 bg-light p-3 rounded-circle"><i class="bi bi-linkedin text-primary"></i></h4>
        <h4 class="m-2 bg-light p-3 rounded-circle"><i class="bi bi-github"></i></h4>
    </div>
</body>
</html>