*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-image: url('img/pexels-christina-morillo-1181244.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body{
    background: rgba(0, 0, 0, 0.3) !important;
    height: 100%;
    width: 100%;
}

.container-fluid{
    background-color: white;
}
.nav-link{
    transition: transform .4s !important;
}
.nav-link:hover{
    transform: scale(1.2);
}

.main{
    margin-top: 20%;
    color: white;
}
.view{
    transition: transform .4s !important;
    margin-left: 1em;
}
.view:hover{
    color: black !important;
    transform: scale(1.2);
}
.signBtn{
    transition: transform .4s !important;
}
.signBtn:hover{
    transform: scale(1.2);
}
.rounded-circle{
    transition: .2s;
}
.rounded-circle:hover{
    transform: scale(1.1);
    transition: transform .3s;
}